.button{
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75px;
}

.button:hover, .button:focus, .button:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}